/******************************************
/* CSS
/*******************************************/
@font-face {
  font-family: "Space-Grotesk-Medium";
  src: url("../fonts/webfonts_Space-Grotesk-Medium/Space-Grotesk-Medium.ttf.woff")
      format("woff"),
    url("../fonts/webfonts_Space-Grotesk-Medium/Space-Grotesk-Medium.ttf.svg")
      format("svg"),
    url("../fonts/webfonts_Space-Grotesk-Medium/Space-Grotesk-Medium.ttf.eot"),
    url("../fonts/webfonts_Space-Grotesk-Medium/Space-Grotesk-Medium.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  /* background-color: black; */
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* make background color slightly transparent */
  padding: 20px;
  justify-self: flex-start;
  /* border: solid red; */
  font-family: "Space-Grotesk-Medium";
}

.right-header {
  display: flex;
  justify-content: space-between;
  width: 300px;
  border: red solid 1px;
}

.header-links {
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: red 1px solid;
}
img {
}
.content-container {
  flex: 1 1 auto;
  width: 100vw;
  height: 100vh;
  border: 1px solid red;

  overflow-y: scroll;

  padding: 0 35px;
}

.left-header img {
  width: 120px;
}

.left-header {
  display: flex;
}

main {
  border: solid rgb(0, 255, 191) 1px;

  width: 100vw;
  margin: 0 -35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main img {
  border: 1px solid red;
  max-width: 500px;
  margin-top: 300px;
  margin-bottom: 300px;
}
.wave {
  align-self: flex-end;
  width: 100vw;
  height: 100px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
